.Categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
.Categories .title{
    width: 70%;
}

.Categories .title h1{
    text-align: center;
    margin: auto;
}
.Categories .title a{
    float: right;
    margin-left: auto;
}