.table-cat{
    width: 70%;
    max-height: 90vw;
    border: solid 2px gray;
}
.table-cat .elem:hover{
    background-color: lightgray;
}


.table-cat .elem .name{ 
    width: 80%;
    height: 100%;
    z-index: 1; 
    color: black;
    padding: 2%;
    cursor: pointer;
}
.table-cat .elem .edit{ width: 10%; z-index: 2; }
.table-cat .elem .delete{ width: 10%; z-index: 2; }