*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Baloo Paaji 2', cursive;
}

.body{ background-color: whitesmoke; }
a{ text-decoration: none; }
input[type=submit]{ cursor: pointer; }
button{ cursor: pointer; }

.flex{ display: flex; }
.flex-col{ flex-direction: column; }
.flex-row{ flex-direction: row; }
.justifyc{ justify-content: center; }
.alignc{ align-items: center; }
.bold{ font-weight: bold; }


/* list scroll styles */
.scrollable{ overflow-y: scroll; }
.scrollable::-webkit-scrollbar { width: 15px; }
.scrollable::-webkit-scrollbar-track { background: lightgray; }/* Track */
.scrollable::-webkit-scrollbar-thumb { background: darkgray; }/* Handle */
.scrollable::-webkit-scrollbar-thumb:hover { background: gray;  }/* Handle on hover */


/* general buttons */




.add-btn{
    outline: none;
    background-color: white;
    color: green;
    border: solid 1.5px green;
    border-radius: 5px;
    font-weight: bold;
}
.add-btn:hover{
    border: solid 1.5px lightgreen;
    color: lightgreen; 
}

.edit-btn{
    outline: none;
    border: solid 1.5px gray;
    border-radius: 5px;
    background-color: white;
    color: gray;
}
.edit-btn:hover{ 
    border: solid 1.5px darkgray; 
    color: darkgray; 
}
.edit-btn a{ color: inherit; }

.delete-btn{
    outline: none;
    border: solid 1.5px red;
    border-radius: 5px;
    background-color: white;
    color: red;
}
.delete-btn:hover{ 
    border: solid 1.5px salmon; 
    color: salmon; 
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .add-btn,
    .edit-btn,
    .delete-btn{
        padding: 1px;
        font-size: 0.9em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    html, body, #app{ height: 100%; }
    .body{ height: 90%; }

    .add-btn{
        padding: 4px 8px;
        font-size: 1.2em;
        text-transform: uppercase;
    }
    .edit-btn{
        font-size: 16px;
        font-weight: bold;
    }
    .delete-btn{
        font-size: 16px;
        font-weight: bold;
    }
}