/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Routines{ padding: 40px 20px; }

    .Routines .routines .display-btn{
        font-size: 1.2em;
        padding: 10px;
    }

    .Routines .routines .routine .display-box .description.small{
        font-size: 1em;
    }
    .Routines .routines .routine .display-box .description.big{
        font-size: 0.8em;
    }

    .Routines .routines .routine .display-box .btn{
        padding: 2px 4px;
        font-size: 1em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Routines{ padding: 5% 15%; }

    .Routines .routines .display-btn{
        font-size: 2em;
    }

    .Routines .routines .routine .display-box .btn{
        padding: 4px 15px;
        font-size: 1.2em;
    }
}



/* transition */
.Routines .routines .routine .display-box{ 
    overflow: hidden; 
    transition: max-height 0.8s linear, opacity 0.5s linear; 
}
.Routines .routines .routine .none { 
    max-height: 0;
    opacity: 0;
}
.Routines .routines .routine .visible { 
    max-height: 600px;
    opacity: 1;
}



.Routines .title{ width: 100%; }
.Routines .title a{
    float: right;
    margin-left: auto;
}

.Routines .routines{
    width: 100%;
    background-color: #dee8ed;
    border: solid 1px #3e6175;
}

.Routines .routines .display-btn{
    width: 100%;

    border: none;
    outline: none;
    background-color: #3e6175;
    color: white;
    cursor: pointer;
}
.Routines .routines .display-btn:hover{ background-color: #2c4554; }



.Routines .routines .routine .display-box{ width: 100%; }

.Routines .routines .routine .display-box .description{ 
    width: 100%;
    text-align: center;
}
.Routines .routines .routine .display-box .description.small{
    padding: 3% 20% 2% 20%;
}
.Routines .routines .routine .display-box .description.big{
    padding: 3%;
}

.Routines .routines .routine .display-box .btn{
    margin: 20px;
    border: none;
    cursor: pointer;
    z-index: 4;
}
.Routines .routines .routine .display-box .play{
    background-color: #1b61e4;
    color: white;
}
.Routines .routines .routine .display-box .play:hover{ background-color: cornflowerblue; }

.Routines .routines .routine .display-box .edit{
    background-color: gray;
    color: white;
}
.Routines .routines .routine .display-box .edit:hover{ background-color: darkgray; }

.Routines .routines .routine .display-box .delete{
    background-color: red;
    color: white;
}
.Routines .routines .routine .display-box .delete:hover{ background-color: salmon; }