@media only screen and (max-width: 600px) {
    .Routine{
        flex-direction: column-reverse;
    }

    .Routine .sidebar{
        width: 100%;
    }

    .Routine .exercise{
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Routine{
        height: 90%;
        flex-direction: row;
    }
    .Routine .sidebar{
        width: 15%;
    }
    .Routine .exercise{
        width: 85%;
    }
    
}

.Routine{
    width: 100%;
    display: flex;
}

.Routine .sidebar{
    background-color: lightgray;
}

.Routine .sidebar .ex{
    width: 100%;
    padding: 10px;

    cursor: pointer;
    border-bottom: solid 1.5px lightgray;
}
.Routine .sidebar .active{
    border-bottom: solid 1.5px gray;
}
.Routine .sidebar .ex:hover{
    border-bottom: solid 1.5px gray;
}
.Routine .sidebar .ex:last-child{
    margin-bottom: 10px;
}


.Routine .exercise{
    padding: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Routine .exercise .img{
    width: 60%;
    max-width: 300px;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Routine .exercise .img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
