@media only screen and (max-width: 600px) {
    .Timer .info{
        height: 120px;
        width: 150px;
    }
    .Timer .start,
    .Timer .stop{
        font-size: 1.2em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Timer{
        width: 400px;
        padding: 25px;

        border: solid 2px black;
        border-radius: 10px;
    }
    .Timer .info{
        width: 80%;
        height: 160px;
    }
    .Timer .start,
    .Timer .stop{
        font-size: 1.5em;
    }
}

.Timer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 10% 20%;
    grid-template-areas: 
        'info info'
        'reps reps'
        'start stop';
    justify-content: center;
    align-items: center;
}

.Timer .reps{
    grid-area: reps;
    width: 100%;
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Timer .reps .rep{
    width: 20px;
    height: 20px;
    margin: 0 5px;

    
    border: solid 1.5px black;
    border-radius: 50px;
}
.Timer .reps .rep.red{
    background-color: red;
}
.Timer .reps .rep.green{
    background-color: green;
}

.Timer .info{
    margin: auto;
    grid-area: info;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}
.Timer .mode-init{
    background-color: lightgray;
    color: black;
    font-size: 1.2em;
}
.Timer .mode-ct{
    background-color: yellow;
    color: black;
    font-size: 3em;
}
.Timer .mode-on{
    background-color: red;
    color: white;
    font-size: 3em;
}
.Timer .mode-off{
    background-color: green;
    color: white;
    font-size: 3em;
}
.Timer .mode-end{
    background-color: salmon;
    font-size: 1.5em;
}

.Timer .start{
    grid-area: start;
    width: 100px;
    height: 50px;
    margin: auto;

    outline: none;
    border: none;
    cursor: pointer;
    background-color: green;
    color: white;
    
    text-align: center;
    font-weight: bold;
}
.Timer .start:hover{ background-color: lightseagreen; }

.Timer .stop{
    grid-area: stop;
    width: 100px;
    height: 50px;
    margin: auto;

    outline: none;
    border: none;
    cursor: pointer;
    background-color: red;
    color: white;
    
    text-align: center;
    font-weight: bold;
}
.Timer .stop:hover{ background-color: orangered; }