.ExerciseForm{
    width: 100%;
    padding: 4%;
}

.ExerciseForm .form{
    border: solid 2px #253a46;
    border-radius: 10px 10px 0 10px;

    width: 80%;
    height: 100%;
}

.ExerciseForm .form h1{
    width: 100%;
    padding: 20px;

    border-radius: 5px 5px 0 0;
    background-color: #253a46;
    color: white;

    text-align: center;
}

.ExerciseForm .form .content{
    padding: 4%;
    width: 100%;
    height: 100%;
}

.ExerciseForm .form .content label{
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
}
.ExerciseForm .form .content input[type=text]{ 
    width: 60%; 
    font-size: 1em;
}
.ExerciseForm .form .content select{
    width: 60%;
    font-size: 1em;
}
.ExerciseForm .form .content textarea{
    width: 70%;
    height: 150px;
    min-height: 150px;
    resize: none;
    font-size: 1em;
}
.ExerciseForm .form .content input[type=file]{ outline: none; }

.ExerciseForm .form .content button{
    padding: 4px 8px;
    margin-top: 30px;

    outline: none;
    border: solid 1.5px #253a46;
    border-radius: 5px;
    color: #253a46;
    
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
}
.ExerciseForm .form .content button:hover{
    border: solid 1.5px gray;
    color: gray;
}